:root {
  --bg-color: #ffffff;
  --text-color: #424242;
  --heading-color: #6f6f6f;
  --scrollbar-thumb-color: #e7e7e7;
  --selection: rgba(0, 0, 0, 0.071);
  --link-decoration-color: #c7c7c7;
  --link-hover-decoration-color: #5a5a5a;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: optional;
  font-weight: 100 900;
  src: url(/inter-latin-wght-normal.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  max-width: 65rem;
  margin: 7rem auto;
  background-color: var(--bg-color);
  font-size: 1.6rem;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  touch-action: manipulation;
}

.header {
  margin-bottom: 4rem;
}

.heading-primary {
  display: flex;
  flex-direction: column;
}

.heading-primary--main {
  display: block;
  font-weight: 500;
}

.heading-primary--sub {
  display: block;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.section,
.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section__heading,
.footer__heading {
  align-self: flex-start;
  color: var(--heading-color);
  font-weight: 500;
}

.section__text {
  @supports (text-wrap: balance) {
    text-wrap: balance;
  }
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section__link {
  text-decoration: none;
  color: inherit;
}

.section__project {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.section__project-title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.section__project-title > span:first-child {
  font-weight: 500;
}

.section__project-title,
.footer__links a {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--link-decoration-color);
  text-decoration-color: var(--link-decoration-color);
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  transition: text-decoration-color 300ms;
}

.section__project-description {
  color: var(--heading-color);
}

.footer__links a {
  color: var(--text-color);
}

::selection {
  background-color: var(--selection);
  text-shadow: none;
}

@media (max-width: 56.25em) {
  body {
    padding: 2rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  .section__project-title:hover,
  .footer__links a:hover {
    text-decoration-color: var(--link-hover-decoration-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #18181a;
    --text-color: #ffffff;
    --heading-color: #a0a0a0;
    --scrollbar-thumb-color: #2e2e2e;
    --selection: hsla(0, 0%, 100%, 0.077);
  }
}
